<a href="https://colab.research.google.com/github/6230204351/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions ($f(x) = y$)

```python
def function_name (input_x):
  # du something with input_x to get output_y
  return output_y
```

$F_1(x) = x^2 + 75$

In [1]:
def function_f1 (x):
  a=x**2
  y=a+75
  return y

  print ('done !')

In [2]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร def function_name(): (ขาดไม่ได้)
2. กำหนดตัวแปรที่ที่จะเป็น input  _input_ (ขาดไม่ได้)
3. ส่วนประมวลผล do_something with  _input_ to get  _output_ (ขาดไม่ได้)
4. ส่วน out put return  _output_ (ขาดได้)

##ตัวอย่าง function ที่มีส่วนประกอบครบ

In [3]:
def function_f1 (x):
  a=x**2
  y=a+75
  return y

###ตัวอย่าง function ที่ไม่มี input

In [4]:
def pi_v():
  y= 3.14159265359
  return y

In [5]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print (circle_area_r2)

12.56637061436

###Function ไม่มี process ไม่ได้

In [6]:
def function_a():

SyntaxError: ignored

###ตัวอย่าง function ที่ไม่มี output

In [7]:
def print_name_id(name,id):
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [8]:
print_name_id ('ณัฐธิดา เมยดง','623020435-1')

ชื่อ ณัฐธิดา เมยดง รหัสประจำตัว 623020435-1

In [9]:
a = print_name_id ('ณัฐธิดา เมยดง','623020435-1')

ชื่อ ณัฐธิดา เมยดง รหัสประจำตัว 623020435-1

ตัวอย่าง function `print` https://www.programiz.com/python-programming/methods/built-in/print

In [10]:
print ('ณัฐธิดา')
print('623020435-1')

ณัฐธิดา
623020435-1

In [11]:
print ('ณัฐธิดา',end=' -> ')
print('623020435-1')

ณัฐธิดา -> 623020435-1

In [12]:
print('ณัฐธิดา','623020435-1')

ณัฐธิดา 623020435-1

In [13]:
print('ณัฐธิดา','623020435-1',sep=' & ')

ณัฐธิดา & 623020435-1

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือ เกรด ซึ่งมีค่า default เป็น F

In [14]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [15]:
print_grade ('นางสาวณัฐธิดา  เมยดง','623020435-1')

รหัสประจำตัว 623020435-1 ชื่อ นางสาวณัฐธิดา  เมยดง
ได้เกรด F

In [16]:
print_grade('นางสาวณัฐธิดา  เมยดง','623020435-1','A')

รหัสประจำตัว 623020435-1 ชื่อ นางสาวณัฐธิดา  เมยดง
ได้เกรด A

In [17]:
print_grade(id='623020435-1',name='นางสาวณัฐธิดา เมยดง',grade='B+')

รหัสประจำตัว 623020435-1 ชื่อ นางสาวณัฐธิดา เมยดง
ได้เกรด B+

#Looping (for)

```python
for member in listEx:
     do_something()
```

In [18]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [19]:
def print_name(name):
  print(f'ฉันชื่อ {name} ')

In [20]:
for name in ['ณัฐธิดา','วัชราภรณ์','ญาดา','ชลธิชา','กิตติคุณ']:
  N=name
  print_name(N)

ฉันชื่อ ณัฐธิดา
ฉันชื่อ วัชราภรณ์
ฉันชื่อ ญาดา
ฉันชื่อ ชลธิชา
ฉันชื่อ กิตติคุณ

In [21]:
list_name_id_grade = [['นางสาว ณัฐธิดา  เมยดง','623020435-1','A'],
                               ['นางสาวจิรัชญา ฟองฟูม','613020038-0','B'],
                               ['นายสุภทัต ขุนจันทร์','613020566-5','C']]

In [22]:
for each in list_name_id_grade:
  name=each[0]
  id=each[1]
  grade=each[2]
  print_grade(name,id,grade)
  print('------------------------')

รหัสประจำตัว 623020435-1 ชื่อ นางสาว ณัฐธิดา  เมยดง
ได้เกรด A
------------------------
รหัสประจำตัว 613020038-0 ชื่อ นางสาวจิรัชญา ฟองฟูม
ได้เกรด B
------------------------
รหัสประจำตัว 613020566-5 ชื่อ นายสุภทัต ขุนจันทร์
ได้เกรด C
------------------------

##ใช้ for loop เพิ่มสมาชิกใน list

In [23]:
list_name= []
list_id= []
list_grade = []
for each in list_name_id_grade:
  list_name.append(each[0])
  list_id.append(each[1])
  list_grade.append(each[2])

In [24]:
list_name

['นางสาว ณัฐธิดา  เมยดง', 'นางสาวจิรัชญา ฟองฟูม', 'นายสุภทัต ขุนจันทร์']

### การวนลูปด้วย range()

In [25]:
for i in range(100):
  print('งง', end = '  ')

งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง  งง

###Loop ซ้อน Loop

In [26]:
for mem1 in range(2,5):
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
          print(f'{mem1} x {mem2} = {mem1*mem2}')
    print('end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = {mem1}
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = {mem1}
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = {mem1}

### Loop in Function

In [27]:
def print_grade_loop(name,grades):
    for n,g in zip(name,grades):
        print(f'{n} ได้เกรด {g}')

In [28]:
print_grade_loop(list_name, list_grade)

นางสาว ณัฐธิดา  เมยดง ได้เกรด A
นางสาวจิรัชญา ฟองฟูม ได้เกรด B
นายสุภทัต ขุนจันทร์ ได้เกรด C

#Conditional Statement (if)

```python
if condition1:
    do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing() ## ถ้า condition1 ไม่เป็นจริง แต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() ## ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [29]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print (f'{n} ได้เกรด F')

นางสาว ณัฐธิดา  เมยดง ได้เกรด A
นางสาวจิรัชญา ฟองฟูม ได้เกรด F
นายสุภทัต ขุนจันทร์ ได้เกรด F

### operator ที่ใช้ตรวจสอบ condition
==, !=, >=, <=, <, >, and, or

In [30]:
a = 10==20
print(a)

False

In [31]:
b = 15<20
print (b)

True

In [32]:
if a:
    print('x')

In [33]:
if True:
    print('X')

X

In [34]:
if a and b:
    print('X')

In [35]:
if a or b:
    print('X')

X

# HW
เขียน function ตัดเกรด โดยที่ input เป็นคะเเนน (0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'
วนลูปตัดเกรด input =[1,50,65,90,101,-5,49,'ก',80]

กำหนด
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
* ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [36]:
input = [1,50,65,90,101,-5,49,'ก',80]

In [37]:
def cal_grade(x):
    if type(x) == type(''):
        print(f'{x} ไม่สามารถตัดเกรดได้')
    else:
        if x >= 0 and x < 50:
            print(f'คะแนน {x} ได้เกรด F')
        elif x >= 50 and x < 55:
            print(f'คะแนน {x} ได้เกรด D')
        elif x >= 55 and x < 60:
            print(f'คะแนน{x} ได้เกรด D+')
        elif x >= 60 and x < 65:
            print(f'คะแนน {x} ได้เกรด C')
        elif x >= 65 and x < 70:
            print(f'คะแนน {x} ได้เกรด C+')
        elif x >= 70 and x < 75:
            print(f'คะแนน {x} ได้เกรด B')
        elif x >= 75 and x < 80:
            print(f'คะแนน {x} ได้เกรด B+')
        elif x >= 80 and x <= 100:
            print(f'คะแนน {x} ได้เกรด A')
        else:
            print(f'คะแนน {x} ไม่สามารถตัดเกรดได้')

In [38]:
cal_grade(1)

คะแนน 1 ได้เกรด F

In [39]:
cal_grade(50)

คะแนน 50 ได้เกรด D

In [40]:
cal_grade(65)

คะแนน 65 ได้เกรด C+

In [41]:
cal_grade(90)

คะแนน 90 ได้เกรด A

In [42]:
cal_grade(101)

คะแนน 101 ไม่สามารถตัดเกรดได้

In [43]:
cal_grade(-5)

คะแนน -5 ไม่สามารถตัดเกรดได้

In [44]:
cal_grade(49)

คะแนน 49 ได้เกรด F

In [45]:
cal_grade('ก')

ก ไม่สามารถตัดเกรดได้

In [46]:
cal_grade(80)

คะแนน 80 ได้เกรด A